.item {
  color: #353835;
  font-size: 1.2rem;
  background-color: white;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.item_name {
  padding: 2rem;
  font-weight: bold;
}
.line {
  border: 0.1rem solid #f4f4f4;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
.delete_btn {
  float: right;
  margin-top: -0.7rem;
  background-color: orange;
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
}
.delete_btn:hover {
  transform: scale(1.1) rotate(5deg);
  transition: transform 0.3s ease;
}

.completed {
  text-decoration: line-through;
}
